<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FocusFriend4.11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C1D26AA71E9D357F00C1CA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1D26ABB1E9D358100C1CA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1D26AC61E9D358100C1CA5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
